# This workflow ensures copied manual pages and other
# copied docs (e.g., tutorials) aren't stale

name: CopyMan

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Check for Stale Manual Pages
        run: ./scripts/copyman.bash --fail-if-dirty
